<!DOCTYPE html>
<html lang="en">
<body class="d-flex flex-column h-100">
        {% block content %}

        {% endblock %}


    <footer class="footer mt-auto py-3 bg-light">
    <div class="container ">
      <small>Site written by Antonio J. Silva Paucar</small><br>
      <small> Email contact:
      <a href="mailto:antonios@uoregon.edu"> antonios@uoregon.edu</a></small><br>
      <small><a href = "{{ github }}"> Personal Github and repo of "Petite URL"</a></small>
    </div>
  </footer>
</body>
</html>