{% extends 'base.html' %}

{% block content %}
  <div class="container text-center p-5 my-5 bg-success text-white">
      <h1>PetiteUrl</h1>
      <p>A TinyURL clone webpage using Flask and MongoDB. </p>
    </div>

    <div class="container mt-3">
    <script>
   $(document).ready(function() {
        // clear url when url input is click and there is a previous tiny url message displaying
        //TODO: Make it more clear, make a list of banned words like "ADMIN", etc
        $( "#url" ).click(function() {
           if ($("#url_short").html().length > 0) {
               clear_form();
           }
        });

       //controls the submit form
      $("#url_form").submit(function(event) {
        event.preventDefault()
        // check for correct url form
        //TODO: Check if the website is alive and healthy.
        if (!validate_url($('#url').val())){
            alert("Invalid URL.");
            return
        };

        if ($("#unique_hash").html() == "Custom hash is not available." ){
            alert("Custom hash is already in used.");
            return
        };


        //gather expiration date input
        var date = $('#expiration').val();
        var expiration_date = "";

        if (date != ""){
            var expiration_date = new Date(date).toISOString();
            console.log(expiration_date);
        };


        $.ajax({
                type: "POST",
                url: "{% url 'index' %}",
                data: {
                   text: $('#url').val(),
                   exp_time: expiration_date,
                   custom: $('#custom').val(),
                   csrfmiddlewaretoken: '{{ csrf_token }}',
                   dataType: "json",
                },
                success: function (data) {
                   clear_form();
                   show_result(data);
                },
                failure: function () {
                   console.log('Error Encountered!');
                }
             });
        });

        //check that the optional custom hash given is valid and not already taken.
        $("#custom").keyup(function(event) {


                // Hash is valid when it is 8 characters long, has no spaces or special characters
                // and it's not being used.
                // TODO: check for spaces and special characters. At this moments, we just accept lowercase
                // letters and numbers ([a-z0-9])

                var custom_input_length = $('#custom').val().length

                // checks length of custom input and checks validity. We do this once again in the server side.
                if (custom_input_length == 0){
                    $("#unique_hash").html("");
                    return
                };
                if (custom_input_length < 8){
                    $("#unique_hash").html("Hash needs to be 8 characters long. It needs "+ (8 - custom_input_length) +" characters more")
                    return
                }else{
                    $("#unique_hash").html("");
                };


                $.ajax({
                type: "POST",
                url: "{% url 'is_hash_used' %}",
                data: {
                   custom: $('#custom').val(),
                   csrfmiddlewaretoken: '{{ csrf_token }}',
                   dataType: "json",
                },
                success: function (data) {
                    if (data.valid){
                        $("#unique_hash").html("Custom hash is available.")
                    }else{
                        $("#unique_hash").html("Custom hash is not available.")
                    };
                },
                failure: function () {
                   console.log('Error Encountered!');
                }
             });
        });

    $('#expires_opt').on('change', function() {
        hide_show("#expires_opt", "#date_local", "#expiration");
    });

    $('#custom_opt').on('change', function() {
        hide_show("#custom_opt", "#personalized", "#custom");
    });

});


    function validate_url(url){
        var re = /^(https?:\/\/(?:www\.|(?!www))[^\s\.]+\.[^\s]{2,}|www\.[^\s]+\.[^\s]{2,})/;
        return re.test($('#url').val())
    };

    function show_result(message){
        $("#result").show("fast");
        $("#title").html("").append(message.title)
        $("#url_short").html("").append(message.result); // delete html content first then add new message
        $("#url_short").attr("href", message.result);
    };

    function set_date(){
        var da = new Date();
        var y = (1900 + da.getYear())
        var M = ("0" + (1 + da.getMonth()).toString()).slice(-2)
        var d= ("0" + (da.getDate()).toString()).slice(-2)
        var h = ("0" + ( da.getHours()).toString()).slice(-2)
        var m = ("0" + (1 + da.getMinutes()).toString()).slice(-2)
        return y + "-" + M + "-" + d + "T" + h + ":" + m
    };

    function clear_form(){
        $('#url_form')[0].reset();
        $("#url_short").html("");
        $("#unique_hash").html("");
        $("#hash_length").html("");
        $("#result").hide("fast");
        hide("#date_local", "#expiration");
        hide("#personalized", "#custom");

    };

    function hide(id_elem, id_required){
        $(id_elem).hide("fast");
        $(id_required).attr("required", false);
    };

    function show(id_elem, id_required){
        $('#expiration').val(set_date());
        $('#expiration').attr("min",set_date());
        $(id_elem).show("fast");
        $(id_required).attr("required", true);
    };

    function hide_show(id_div, id_elem, id_required){
        if ($(id_div).is(':checked')) {
            show(id_elem, id_required);
        }else{
            hide(id_elem, id_required);
        }
    };


    </script>


<div id="result" class="alert alert-success" role="alert" style="display: none;" >
    <h4 class="alert-heading">Your customize URL for "<strong id="title"></strong>" is: </h4>
    <a id="url_short"></a>
</div>

<form id="url_form"  method="POST">
            {{ form.csrf_token }}
            <p>
                {{ form.url }}
            </p>
    <div >
            <p>

                {{ form.expires_option.label }}
                {{ form.expires_option }}
            </p>

            <p id="date_local" style="display: none;">
                {{ form.expiration.label }}
                <span style="text-align: center;">
                {{ form.expiration }}
                </span>
            </p>

            <p>
                {{ form.custom_hash_option.label }}
                {{ form.custom_hash_option }}
            </p>
            <p id="personalized" style="display: none;">

                {{ form.custom.label }}
                {{ form.custom }}
            </p>
    </div>


            <div id="unique_hash"></div><br>
            <div id="hash_length"></div><br>

            <div style="text-align: center;">
            <button id="clear" class="btn btn-success" onclick="clear_form();"> Clear </button>
            <button type="submit" id="submit" class="btn btn-success"> Submit </button>
            </div>
  </form>

    </div>

{% endblock %}
