{% extends 'base.html' %}

{% block content %}
  <div class="container text-center p-5 my-5 bg-success text-white">
      <h1>PetiteUrl</h1>
      <p>A TinyURL clone webpage using Flask and MongoDB. </p>
    </div>

    <div class="container mt-3">
    <p id="response"> </p>

    <script>





    $(document).ready(function() {

      $("#url_form").submit(function(event) {
        event.preventDefault();
        console.log($('#expiration').val());
        $.ajax({
                type: "POST",
                url: "{% url 'index' %}",
                data: {
                   text: $('#url').val(),
                   exp_time: $('#expiration').val(),
                   custom: $('#custom').val(),
                   csrfmiddlewaretoken: '{{ csrf_token }}',
                   dataType: "json",
                },
                success: function (data) {
                   console.log(data.hash);
                   clear_form();

                },
                failure: function () {
                   console.log('Error Encountered!');
                }
             });
        });

    $('#expires_opt').on('change', function() {
        hide_show("#expires_opt", "#date_local", "#expiration");
    });

    $('#custom_opt').on('change', function() {
        hide_show("#custom_opt", "#personalized", "#custom");
    });

});

    function set_date(){
        var da = new Date();
        var y = (1900 + da.getYear())
        var M = ("0" + (1 + da.getMonth()).toString()).slice(-2)
        var d= ("0" + (1 + da.getDate()).toString()).slice(-2)
        var h = ("0" + ( da.getHours()).toString()).slice(-2)
        var m = ("0" + (1 + da.getMinutes()).toString()).slice(-2)
        return y + "-" + M + "-" + d + "T" + h + ":" + m
    };

    function clear_form(){
        $('#url_form')[0].reset();
        hide("#date_local", "#expiration");
        hide("#personalized", "#custom");
    };

    function hide(id_elem, id_required){
        $(id_elem).hide("fast");
        $(id_required).attr("required", false);
    };

    function show(id_elem, id_required){
        $('#expiration').val(set_date());
        $('#expiration').attr("min",set_date());
        $(id_elem).show("fast");
        $(id_required).attr("required", true);
    };

    function hide_show(id_div, id_elem, id_required){
        if ($(id_div).is(':checked')) {
            show(id_elem, id_required);
        }else{
            hide(id_elem, id_required);
        }
    };


    </script>

<form id="url_form"  method="POST">

            {{ form.csrf_token }}
            <p>
                {{ form.url }}
            <p>
                {{ form.expires_option.label }}
                {{ form.expires_option }}
            </p>

            <p id="date_local" style="display: none;" >
                {{ form.expiration.label }}
                {{ form.expiration }}
            </p>

            <p>
                {{ form.custom_hash_option.label }}
                {{ form.custom_hash_option }}
            </p>
            <p id="personalized" style="display: none;">

                {{ form.custom.label }}
                {{ form.custom }}
            </p>

            <div id="unique_hash"></div><br>

            <button id="clear" class="btn btn-success" onclick="clear_form();"> Clear </button>
            <button type="submit" id="submit" class="btn btn-success"> Submit </button>

  </form>

    </div>

{% endblock %}
